<div class="center jumbotron">
  <h1>Welcome to Kevin's Twitter Ripoff</h1>

  <h2>
    This is the home page for the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.<br><br>To use SSL, go <a href="https://calm-lowlands-24159.herokuapp.com">here</a>. Alternatively, if you don't mind an invalid certificate alert, go <a href="https://twitterripoff.kevindong.net">here</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>