<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div style="text-align: center">
      <b>Please</b> don't use any information you deem sensitive (namely, your email address and the passwords that you use elsewhere). I strongly recommend using <a href="https://www.mailinator.com/">Mailinator</a> to get a disposable email address.
    </div>
    <br>
    <%= render 'form' %>
  </div>
</div>